
{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "rules": {
    "init-declarations": 2,
    "no-unused-vars": 0,
    "dot-location": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "semi-spacing": [0, {"before": false, "after": true}],
    "no-extra-semi": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "array-bracket-spacing": [2, "never"],
    "camelcase": 2,
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"]
  }
}

